#letter-div {
    margin: 5px 5px 5px 5px;
    font-size: 10px;
    font-family: monospace;
    
}

#keyboard {
    width: 700px;
    margin: 0 auto;
    

}

.hidden {
-webkit-filter: contrast(0) sepia(100%) hue-rotate(190deg) saturate(2000%) brightness(500%);
  filter: contrast(0) sepia(30%) hue-rotate(-40deg) saturate(2000%) brightness(100%);
  opacity: 1;
}

.img-size {
    width: 350px;
}

.pokeball-div {
    width: 50px;
}